<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <center>
        <%= yield %>
      </center>
    </div>
  </body>
</html>
